<section class="container-fluid sec-images">
    <h2 class="head stroke">Images</h2>
    <div *ngFor="let ship of ships">
        <div class="flex-ship">
            <div class="card" *ngFor="let image of ship.images">
                <img class="ship-image" src="{{image.url}}" alt="">
                <p class="about-image stroke">{{ image.about }}</p>
                <p class="about-image stroke">{{ image.source }}</p>
            </div>
        </div>
    </div>
    <div class="btn-flex">
        <button class="back-btn stroke" (click)="gotoHome()">Return</button>
    </div>
</section>