/*
font-family: 'Lily Script One', cursive;
font-family: 'Spectral SC', serif;

*/
html, body {
    height: 100%;
    width: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.sec-heading {
    min-height: 100%;
    max-height: auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/honolulu.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
}
.sec-about {
    min-height: 100%;
    max-height: auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/starboard.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 40px;
}
.sec-crew {
    min-height: 100%;
    max-height: auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/crewtwo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec-battles {
    min-height: 100%;
    max-height: auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/battle.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 40px;
}
.sec-person {
    min-height: 100%;
    max-height: auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/honoluluthree.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.sec-accounts {
    min-height: 100%;
    max-height: auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/honolulu-back.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.sec-account {
    min-height: 100%;
    max-height: auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/honolulu-harbor.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}
.sec-images {
    min-height: 100%;
    max-height: auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/starboard2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.stroke{   
    text-shadow:
         1.5px 1.5px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.stroke-white{   
    text-shadow:
         0.5px 0.5px 0 rgb(255, 255, 255),
        -0.5px -0.5px 0 rgb(255, 255, 255),  
        0.5px -0.5px 0 rgb(255, 255, 255),
        -0.5px 0.5px 0 rgb(255, 255, 255),
        0.5px 0.5px 0 rgb(255, 255, 255);
}
.back-btn {
    text-align: center;
    font-family: 'Spectral SC', serif;
    font-size: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    background:none;
    border: none;
}
.btn-flex {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1050px) {
  .sec-heading {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/honolulu-tall.jpg");
      padding-top: 100px;
  }
  .sec-about {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/honolulutwo.jpg");
  }
  .sec-crew {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/crew.jpg");
  }
  .sec-battles {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/guam.jpg");
  }
  .sec-person {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/honolulu-back2.jpg");
  }
  .sec-accounts {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/hole.jpg");
  }
  .sec-account {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("assets/images/backgrounds/damaged.jpg");
  }
  .sec-images {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("assets/images/backgrounds/honolulu-tall2.jpg");
}
  .back-btn {
    font-size: 15px;
  }
 }
